.imgProd{
    width: 150px;
    height: 160px;
    margin: 0 auto;
}

.contenedorItem{
    text-align: center;
    margin: 0px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.contenedorItemList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input{
    width: 50px;
    text-align: center;
}