.contenedorDetalle {
    display: flex;
    flex-direction: row;
    width: 60%;

    justify-content: space-between;

    padding: 1%;
    border: 1px solid black;

    background-color: rgb(3, 193, 140);
    margin: 2% auto;
}
