.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border: 1px solid black;

    background-color: rgb(3, 193, 140);

    width: 90%;
    padding: 1%;

    margin: 0 auto;
}

.fotoCard {
    width: 90%;
    margin: 0 auto;
    height: 150px;
    border-radius: 80px;
}

.tituloCard {
    color: white;
    font-size: 120%;
}

.descCard {
    font-size: 80%;
}

.btnDescripcion {
    font-size: 60%;
    color: white;
    font-weight: bold;
    background-color: grey;
    border-color: grey;
}
