
.contenedorNav 
{
    padding: 5px 25px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:RGB(255,140,161);
    position: sticky;
    top: 0px;
    z-index: 3;

}

.logoNav{
    height: 100%;
    width: 100px;
}

.botonesNav{
margin: auto 0;
display: flex;
flex-direction: row;
justify-content: space-between;
font-size: 10px;
width: 30%;

}


.titulo{
    color: white;
    font-size: 25px;
}

.carrito{
    width: 30px;
    height: 30px;
}

.btnNav{
    background-color: white;
    color: black;
    font-size: 120%;
    font-weight: bold;
}

.btnNavActive{
    background-color:red;
    color: black;
    font-size: 120%;
    font-weight: bold;
}