.inputCantidad{
    width: 40%;
    text-align: center;
    font-size: 70%;
    margin: 4px;

}

.contendorBotones{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnSumaResta{
    align-self: center;
    text-align: end;
    font-weight: bold;
    font-size: 70%;
    background-color: grey;
    border-color: grey;
    color: white;

}

.btnComprar{
    width: 70%;
    margin: 0 auto;
    font-size: 60%;
    background-color: grey;
    border-color: grey;
    color: white;
}